@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500&family=Lato:wght@300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.navbar-section {
  .header-logo {
    margin: 30px 0;
  }

  .nav-link {
    font-family: "Lato", sans-serif;
    color: #549c43;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: #fff;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
    &:hover:after {
      width: 100%;
      left: 0;
      background-color: #549c43;
    }
  }
}

.slider {
  margin-top: 40px;
}

.category-section {
  padding-top: 212px;
  padding-bottom: 122px !important;
  .empty-space {
    height: 35px;
  }
  .card {
    border: 0;
    text-align: center;
    svg {
      margin: 10px 0;
    }
    .card-title {
      text-transform: uppercase;
      color: #549c43;
      letter-spacing: 0.165em;
      font-family: Alegreya, serif;
      font-weight: 500;
      word-wrap: break-word;
      line-height: 26px;
      font-size: 19px;
    }
    .card-text {
      font-family: Lato, sans-serif;
      font-size: 17px;
      line-height: 27px;
      font-weight: 300;
      color: #58595b;
      word-wrap: break-word;
    }
    .view-all {
      color: #549c43;
      margin-top: 20px;
      border: 1px solid #549c43;
      background-color: transparent;
      text-decoration: none;
      width: auto;
      display: inline-block;
      font-family: inherit;
      font-size: 15px;
      line-height: 2em;
      font-weight: 400;
      text-transform: uppercase;
      outline: 0;
      box-sizing: border-box;
      padding: 12px 38px 12px 42px;
      cursor: pointer;
    }
  }
}

.products-section {
  text-align: center;
  h3 {
    font-size: 35px;
    font-family: Alegreya, serif;
    line-height: 43px;
    word-spacing: 5.8px;
    color: #549c43;
    margin-top: 15px;
    margin-bottom: 0;
  }
  small {
    font-size: 17px;
    font-family: Lato, sans-serif;
    line-height: 27px;
    word-spacing: 0.5px;
    font-style: italic;
    font-weight: 100;
    color: #549c43;
    margin-top: 15px;
    margin-bottom: 0;
  }
  .empty-space {
    height: 48px;
  }

  .prodcut-wrapper {
    text-decoration: none;
    display: block;
  }

  .card {
    border: 0;
    text-align: center;

    .card-title {
      text-transform: uppercase;
      color: #549c43;
      letter-spacing: 0.1em;
      font-family: Alegreya, serif;
      font-weight: bold;
      word-wrap: break-word;
      line-height: 26px;
      margin-bottom: 0;
      font-size: 19px;
    }
    .card-text {
      font-family: Lato, sans-serif;
      font-size: 17px;
      line-height: 27px;
      font-weight: 300;
      color: #58595b;
      word-wrap: break-word;
    }
    .price {
      color: #549c43;
      margin-top: 15px;
      background-color: transparent;
      text-decoration: none;
      width: auto;
      display: inline-block;
      font-family: Alegreya, serif;
      font-size: 15px;
      line-height: 2em;
      font-weight: bold;
      text-transform: uppercase;
      outline: 0;
      box-sizing: border-box;
      padding: 12px 38px 12px 42px;
      cursor: pointer;
    }
  }
}

footer {
  background-color: #fcf9f7;
  z-index: 100;
  border-top: 10px solid;
  border-image-slice: 1;
  border-width: 5px;

  border-image-source: linear-gradient(to right, #56ab2f, #a8e063);
  box-sizing: border-box;
  .main-footer {
    .social-links {
      i {
        padding-right: 25px;
        margin-top: 25px;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover {
          color: #549c43;
        }
      }
    }
    padding: 100px 0;
    .footer-logo {
      width: 30%;
      margin-bottom: 15px;
    }
    .caption {
      padding-bottom: 0;
      margin-bottom: 0;
      font-family: lato, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      color: #58595b;
      word-wrap: break-word;
    }
    .about,
    .help {
      display: flex;
      flex-direction: column;
      align-items: end;
      text-align: start;
      justify-content: start;
      h2 {
        font-size: 25px !important;
        color: #549c43;
        font-family: Alegreya, serif;
        line-height: 24px;
        word-spacing: 2.8px;
        margin-bottom: 15px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin: 10px 0;
          a {
            color: #000000;
            font-size: 15px;
            font-family: lato, sans-serif;
            text-decoration: none;
          }
        }
      }
    }
  }
  .sticky-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #56ab2f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #a8e063,
      #56ab2f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #a8e063,
      #56ab2f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    p {
      padding-bottom: 0;
      margin-bottom: 0;
      font-family: lato, sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #58595b;
    }
  }
}
